* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
        Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}

code {
    background-color: lightgrey;
    color: midnightblue;
    font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo,
        Monaco, Consolas, monospace;
    overflow-wrap: break-word;
    padding: 4px;
    white-space: pre-wrap;
}